.logo {
  width: 120px; /* Ajustez la taille selon vos besoins */
  height: auto;
  position: absolute;
  left: 15px; /* Ajustez la valeur selon vos besoins */
  top: 15px; /* Ajustez la valeur selon vos besoins */
}

nav ul {
  padding-left: 70px; /* Ajustez la valeur pour laisser de l'espace pour le logo */
}